//====================================================================================================
.footer {
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 80px;
	}
	// .footer__copyright
	&__copyright {
		font-size: 14px;
		font-weight: 700;
		opacity: 0.15;
	}
}

//====================================================================================================
