@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,regular,700&display=swap");
// Подключить, если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить, если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Ubuntu";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию с макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию
$neonColor: #b01ddc;

// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1660;
// Общее отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивый (у контейнера нет брейкпоинтов),
// 2 = по брейк-пойнтам (контейнер изменяет свою ширину по брейк-пойнту)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	font-weight: 300;
	overflow-x: hidden;
	background-color: #1c1c1c;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивый
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поинты
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/выключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
.main {
	padding-top: 130px;
	// .main__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		perspective: 1000px;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("@img/russia.svg") center no-repeat;
			z-index: -1;
			opacity: 0.03;
			transform: scale(1.3);
		}
	}
	// .main__wrapper
	&__wrapper {
		display: flex;
		gap: 30px;
		align-items: center;
		min-height: 700px;
		flex: 1 1 auto;
		transform-style: preserve-3d;
		@media (min-width: $tablet) {
			max-width: 1030px;
			justify-content: space-between;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			justify-content: center;
		}
	}
	// .main__content
	&__content {
		flex: 0 1 50%;
		max-width: 455px;
		transform-style: preserve-3d;
		@media (max-width: $tablet) {
			transform-style: unset;
			max-width: 100%;
			text-align: center;
		}
	}
	// .main__title
	&__title {
		font-size: 33px;
		font-weight: 700;
		line-height: math.div(43, 33);
		margin-bottom: 20px;
		i {
			font-weight: 300;
			font-style: normal;
		}
		span {
			color: #b01ddc;
		}
	}
	// .main__text
	&__text {
		line-height: math.div(32, 18);
		margin-bottom: 40px;
	}
	// .main__button
	&__button {
		display: flex;
		gap: 10px;
		align-items: center;
		color: $neonColor;
		font-weight: 700;
		font-size: 16px;
		transition: color 0.3s ease 0s;

		span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-style: normal;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background-color: $neonColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba($color: $neonColor, $alpha: 0.8);
			}
		}
	}
	// .main__card
	&__card {
		position: relative;
		padding-bottom: 30%;
		@media (min-width: $tablet) {
			flex: 0 0 460px;
			transform-style: preserve-3d;
		}
		@media (max-width: $tablet) {
			min-height: 285px;
			width: 100%;
			max-width: 460px;
		}
		@media (max-width: $mobileSmall) {
			min-height: unset;
			padding-bottom: 70%;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}
.card {
	// .card__bg-3
	&__bg-3 {
		top: 20px;
		left: -20px;
		z-index: 1;
	}
	// .card__bg-2
	&__bg-2 {
		top: 10px;
		left: -10px;
		z-index: 2;
	}
	// .card__bg
	&__bg {
		top: 0;
		left: 0;
		z-index: 3;
	}
	// .card__bg-map
	&__bg-map {
		top: 0;
		left: 0;
		z-index: 4;
		opacity: 0.1;
		transform: scale(0.9);
	}
	// .card__logo
	&__logo {
		z-index: 5;
		max-width: 120px;
		max-height: 20px;
		right: 10%;
		top: 15%;
		@media (max-width: $mobileSmall) {
			transform: scale(0.8);
		}
	}
	// .card__chip
	&__chip {
		z-index: 5;
		max-width: 70px;
		max-height: 55px;
		top: 25%;
		left: 10%;
		@media (max-width: $mobileSmall) {
			transform: scale(0.9);
			top: 18%;
		}
	}
	// .card__holder
	&__holder {
		z-index: 5;
		max-width: 290px;
		max-height: 100px;
		bottom: 13%;
		left: 10%;
		@media (max-width: $mobileSmall) {
			transform: scale(0.8);
			left: 0;
			bottom: 5%;
		}
	}
	// .card__valid
	&__valid {
		z-index: 5;
		max-width: 100px;
		max-height: 30px;
		bottom: 25%;
		left: 30%;
		@media (max-width: $mobileSmall) {
			left: 85px;
			bottom: 50px;
		}
	}
}
//========================================================================================================================================================
@media (min-width: $tablet) {
	.level--2 {
		transform: translateZ(-70px);
	}
	.level--1 {
		transform: translateZ(-35px);
	}
	.level-1 {
		transform: translateZ(20px);
	}
	.level-2 {
		transform: translateZ(40px);
	}
}

//========================================================================================================================================================
* {
	cursor: none;
}

#cursor,
#aura {
	position: absolute;
	border-radius: 50%;
	transition: transform 0.5s cubic-bezier(0.67, -0.83, 0.39, 1.69), opacity 0.2s cubic-bezier(0.67, -0.83, 0.39, 1.69);
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	&.hidden {
		transform: scale(0.01);
	}
}
#cursor {
	width: 8px;
	height: 8px;
	background-color: rgba($color: #fff, $alpha: 0.8);
	transform: scale(1);
	&.active {
		transform: scale(0);
	}
}
#aura {
	width: 60px;
	height: 60px;
	border: 1px solid rgba($color: #fff, $alpha: 0.5);
	transform: translate(-3px, -3px) scale(1);
	background-color: rgba($color: #fff, $alpha: 0.03);
	&.active {
		border: 1.2px solid rgba($color: #fff, $alpha: 0.8);
		transform: scale(1.3);
	}
}
